asgiref==3.8.1
cachetools==5.5.1
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
colorama==0.4.6
cryptography==44.0.0
defusedxml==0.8.0rc2
Django==5.1.6
django-filter==24.3
djangorestframework==3.15.2
djangorestframework_simplejwt==5.4.0
dotenv
drf_yasg
pdf2image
PyPDF2
djoser
whisper
pymupdf
PyPDF2
openai-whisper
setuptools-rust